    <nav class="bg-mainTheme dark:bg-darkTheme z-50">
      <div class="nav-links">
          <%= link_to "Home", root_path, class: "nav-link" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-btn" %>

          <div class="theme-changer hover:shadow-custom rounded-full p-1 cursor-pointer">
            <div class="light-theme">
            <%= render partial: "components/sun_svg" %>
            </div>
            <div class="night-theme hidden">
            <%= render partial: "components/moon_svg" %>
            </div>
          </div>
           <h1><%= yield(:page_title) %></h1>
      </div>
    </nav>

