<main class="min-h-screen flex flex-col bg-slate-100">
<%= form_with model: @contract, url: contracts_path, method: :post, class:"", scope: :contract do |f| %>
  <% content_for :page_title do %>
    New Transaction
  <% end %>
  <% content_for :submit do %>
    <%= f.submit "Create" %>
  <% end %>
<%= render partial: "components/navbar", locals: {back: true, show_search_bar: false}%>

    <%= render partial: "/components/errors_message", locals: {object: @contract} %>


  <div class="my-3 px-2 bg-white flex flex-col gap-4">
    <div class="field">
     <%= f.text_field :name,placeholder:"Name",required: true, autofocus: true, autocomplete: "name", class:"w-full bg-white border-b border-slate-200 border-t border-slate-200 focus:outline-none p-2" %>
    </div>

    <div class="field">
      <%= f.number_field :amount,placeholder:"Amount  (must be a number and in $)", required: true,autocomplete: "number",class:"w-full bg-white border-b border-slate-200 border-t border-slate-200 focus:outline-none p-2"  %>
    </div>

    <div class="my-4">
      <%= f.label :Categories %><br>
      <%= f.select :group_id, @groups.collect {|group| [group.name, group.id]}, { include_blank: false }, class: "form-select py-3 mt-1 block w-full rounded-md border-gray-400 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "Categories" %>
    </div>


  </div>
<% end %>
</main>
