<!DOCTYPE html>
<html>
  <head>
    <title>BudgetWise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
      colors: {
        // Configure your color palette here
        mainTheme: 'white',
        darkTheme: '#06b6d4',
      },
      boxShadow: {
        "custom": '-1px 1px 20px 7px red'
      }
          },
          fontFamily: {
      important: ["Josefin Sans", "sans-serif"],
      normal: ["Josefin Sans", "sans-serif"],
          },
        },
        darkMode: 'class',

      }
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
        <%= render partial: "/components/navbar" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
